/* UserOnboard.css */

.container {
  margin-top: 50px;
  margin-bottom: 30px; /* Added margin bottom */
  padding: 0 15px; /* Added padding */
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Set width to 100% */
}

.card-body {
  padding: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  margin-top: 15px;
}
